# Activer le moteur de réécriture
RewriteEngine On

# Redirection des URL avec .html vers leur version sans .html
 RewriteCond %{THE_REQUEST} \s/([^\s]+)\.html
 RewriteRule ^ /%1 [R=301,L]

 # Transformer les URLs en minuscules
RewriteMap tolower int:tolower

RewriteCond %{REQUEST_URI} [A-Z]
RewriteRule ^(.*)$ ${tolower:$1} [R=301,L]

# Réécriture pour servir le fichier index.html pour toutes les requêtes non trouvées
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.html [L]

# Gestion des erreurs 404
ErrorDocument 404 /404.html

Redirect 301 /robots.txt /TPCV/robots.txt


# Désactiver l'indexation des répertoires
Options -Indexes

# Sécurité : Empêcher l'accès direct aux fichiers PHP
<FilesMatch "\.php$">
    Require all denied
</FilesMatch>
