# Activer le moteur de réécriture
RewriteEngine On

# Assurer que le fichier robots.txt est accessible
; RewriteRule ^robots\.txt$ robots.txt [L]

# Redirection des URL avec .html vers leur version sans .html
; RewriteCond %{THE_REQUEST} \s/([^\s]+)\.html
; RewriteRule ^ /%1 [R=301,L]

# Réécriture pour servir le fichier index.html pour toutes les requêtes non trouvées
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d


# Gestion des erreurs 404
ErrorDocument 404 /404.html

# Désactiver l'indexation des répertoires
Options -Indexes

# Sécurité : Empêcher l'accès direct aux fichiers PHP
<FilesMatch "\.php$">
    Require all denied
</FilesMatch>
